/*  Terminal App using Textual Python */

#assistant_container {
    width: 30%;
    height: 100%;
    border-right: tall gray;
    padding: 1;
}

PlaceholderWithLabel {
    height: auto;
    margin-top: 1;
}

PlaceholderWithLabel .label {
    text-style: bold underline;
    width: auto;
}

PlaceholderWithLabel .placeholder {
    background: rgb(22, 22, 22);
    width: 100%;
    height: auto;
}

Button {
    margin-top: 1;
    padding-left: 2;
    padding-right: 2;
}

.remove {
    display: none;
}

.singleline {
    layout: horizontal;
}

.multiline {
    layout: vertical;
}

ThreadListContainer {
    align: left top;
    width: 30%;
    border-right: tall gray;
    padding: 1;
}

ThreadListContainer #create_thread_button {
    dock: bottom;
    width: 100%;
    height: auto;
}

ThreadListContainer #assistant_name {
    dock: top;
    padding-left: 2;
    margin: 1;
    border: tall $surface-lighten-2;
}

ThreadListContainer Label {
    text-style: bold underline;
}

ThreadListContainer ListView {
    width: 100%;
    height: auto;
}

ThreadListContainer ListItem {
    padding: 1;
}

ThreadListContainer ListItem Label {
    text-style: none;
}

ThreadMessagesContainer {
    width: 70%;
    height: 100%;
    padding-left: 4;
    padding-right: 4;
}

ThreadMessagesContainer NewMessage {
    width: 80%;
    height: 7;
    padding: 1;
}

ThreadMessagesContainer NewMessage TextArea {
    height: 100%;
    border: tall black;
}

ThreadMessagesContainer NewMessage Button {
    height: 100%;
    margin-left: 1;
    margin-right: 1;
}

ThreadMessagesContainer NewMessage Checkbox {
    margin-top: 1;
}

ThreadMessagesContainer MessageList {
    align: center bottom;
}

ThreadMessagesContainer MessageList ThreadMessage {
    height: auto;
    layout: horizontal;
}

ThreadMessagesContainer MessageList ThreadMessage #message_container {
    height: auto;
    layout: vertical;
    align: left middle;
}

ThreadMessagesContainer MessageList .avatar {
    margin-top: 1;
    width: auto;
}

ThreadMessagesContainer MessageList ThreadMessage .message {
    width: auto;
    max-width: 80%;
    border: round gray;
}

ThreadMessagesContainer MessageList UserMessage .message {
    border: round rgb(107, 198, 107);
}

ThreadMessagesContainer MessageList DebugMessage .message {
    border: round rgb(100, 100, 100);
    color: rgb(100, 100, 100);
}

ThreadMessagesContainer MessageList DebugMessage .avatar {
    color: rgb(100, 100, 100);
}